**/target/**
**/work/**
**/ptai-teamcity-plugin/servers/**
**/docs/*.vpp.bak_*
**/docs/*.vpp.lck
**/.idea/workspace.xml
**/Release/**
**/Debug/**
**/packages/**
**/node_modules/**
**/*.vsix
**/*.dll
**/.vs/**
**/TestResults/**
**/db/**/*.db
**/admin