:root {
    --border-bold-line-color: rgb(116, 116, 116);
    --border-bold-line-width: 4px;
    --border-line-color: rgb(230, 230, 230);
    --border-line-width: 1px;
    --background-color: rgb(248, 248, 248);

    --border-bold-line-red-color: rgb(245, 121, 98);
    --border-line-red-color: rgb(255, 190, 179);
    --background-red-color: rgb(255, 244, 242);

    --border-bold-line-green-color: rgb(102, 204, 153);
    --border-line-green-color: rgb(161, 230, 195);
    --background-green-color: rgb(242, 255, 249);

    --small-chart-min-width: 450px;
    --big-chart-min-width: calc(var(--small-chart-min-width) * 2 + var(--small-chart-gap));
    --small-chart-gap: 16px;
    --chart-padding-y: 16px;
    --chart-padding-x: 12px;
}

.ptai-cell {
    background-color: var(--background-color);
}
.ptai-cell-left {
    border-left-width: var(--border-bold-line-width);
    border-left-style: solid;
    border-left-color: var(--border-bold-line-color);
    padding-left: 20px;
    margin-left: 0;
}
.ptai-cell-right {
    border-right-width: var(--border-line-width);
    border-right-style: solid;
    border-right-color: var(--border-line-color);
    font-weight: bold;
}
.ptai-cell-top {
    border-top-width: var(--border-line-width);
    border-top-style: solid;
    border-top-color: var(--border-line-color);
    padding-top: 8px;
}
.ptai-cell-bottom {
    border-bottom-width: var(--border-line-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-line-color);
    padding-bottom: 8px;
}

.ptai-cell-red {
    background-color: var(--background-red-color);
}
.ptai-cell-red-left {
    border-left-width: var(--border-bold-line-width);
    border-left-style: solid;
    border-left-color: var(--border-bold-line-red-color);
    padding-left: 20px;
    margin-left: 0;
}
.ptai-cell-red-right {
    border-right-width: var(--border-line-width);
    border-right-style: solid;
    border-right-color: var(--border-line-red-color);
    font-weight: bold;
}
.ptai-cell-red-top {
    border-top-width: var(--border-line-width);
    border-top-style: solid;
    border-top-color: var(--border-line-red-color);
    padding-top: 8px;
}
.ptai-cell-red-bottom {
    border-bottom-width: var(--border-line-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-line-red-color);
    padding-bottom: 8px;
}

.ptai-cell-green {
    background-color: var(--background-green-color);
}
.ptai-cell-green-left {
    border-left-width: var(--border-bold-line-width);
    border-left-style: solid;
    border-left-color: var(--border-bold-line-green-color);
    padding-left: 20px;
    margin-left: 0;
}
.ptai-cell-green-right {
    border-right-width: var(--border-line-width);
    border-right-style: solid;
    border-right-color: var(--border-line-green-color);
    font-weight: bold;
}
.ptai-cell-green-top {
    border-top-width: var(--border-line-width);
    border-top-style: solid;
    border-top-color: var(--border-line-green-color);
    padding-top: 8px;
}
.ptai-cell-green-bottom {
    border-bottom-width: var(--border-line-width);
    border-bottom-style: solid;
    border-bottom-color: var(--border-line-green-color);
    padding-bottom: 8px;
}

.ptai-small-chart {
    min-width: var(--small-chart-min-width);
    height: calc(200px + var(--chart-padding-y) * 2 + var(--border-line-width) * 2);
}

.ptai-big-chart {
    min-width: var(--small-chart-min-width);
}

.ptai-chart-left {
    padding-right: 8px;
}

.ptai-chart-right {
    padding-left: 8px;
}

.ptai-main-content {
    width: 100%;
    margin: 0 auto;
    min-width: var(--big-chart-min-width);
}

.ptai-charts-div {
    display: grid;
    grid-template-columns: 50% 50%;
}

.ptai-settings-table {
    border-collapse: collapse;
    margin-top: 10px;
}

.ptai-no-data {
    font-weight: bold;
    font-style: italic;
    color: lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.ptai-chart {
    background-color: var(--background-color);
    padding: var(--chart-padding-y) var(--chart-padding-x);
    border-left-width: var(--border-bold-line-width);
    border-right-width: var(--border-line-width);
    border-top-width: var(--border-line-width);
    border-bottom-width: var(--border-line-width);
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-color: var(--border-bold-line-color);
    border-right-color: var(--border-line-color);
    border-top-color: var(--border-line-color);
    border-bottom-color: var(--border-line-color);
}

.ptai-chart-header {
    margin-top: 16px;
    margin-bottom: 8px;
}